<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home"></span> Factile
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/dashboard">My Surveys</a></li>
                <li><a href="/surveys/new">New Survey</a></li>
                <li><a href="/user/preferences">Settings</a></li>
                <li><a href="/assets/html/learn.html">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right acme-navbar-text">
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
